<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oops!</title>
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <p class="display-4 text-danger text-center mt-5">Oops! The page you are looking for cannot be found.</p>
    </div>
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
